@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style  */

.bg-primary{
    background-color:rgba(255, 144, 14, 0.1);
}

.display-flex{
    display: flex;
}

.dark-2{
    color: rgba(66, 66, 66, 1);
}

.btn-primary{
    font-size: 1.3rem;
    color: white;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 16px 25px ;
    font-weight: 600;
}
.text-style{
    font-size: 1.2rem;
    font-weight: 400;
    color:#727272 ;
    margin-top: 25px;
    margin-bottom: 33px;
}

.features-text{
    margin-top: 2px;
    margin-bottom: 2px;
}


main > section{
    margin: 0 auto;
    max-width: 90%;

}

.section-title{
    font-size: 2.5rem;
    font-weight: 500;
    color: #727272;
}



/* navbar area style start */
.navbar{
    align-items: center;
    justify-content: space-between;
}
.brand{
    font-size:2.8rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
}
.list-item{
    list-style: none;
    margin-right: 3rem;
}
.list-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: rgba(66, 66, 66, 1);
    font-weight: 500;
}

.navbar , 
.banner{
    max-width: 88%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 50px;
}

/* banner area style */

.banner-content{
    max-width: 86%;
    margin:50px auto;
    text-align: center;

}
.banner-title{
    font-size: 3.5rem;
    font-weight: 600;
    color: rgba(19, 19, 19, 1);
}

.banner-images{
    width: 100%;
    
}

/* teams section area style start  */

.teams{
    margin-top: 130px;
    margin-bottom: 54px;
    align-items: center;
}

.team-pictures{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 10px;
    width: 100%;
}
.team-pictures > img{
    width: 100%;
}

.features{
    width: 560px;
    margin-left: 50px;
}

#of-text{
    font-weight: bold;
    color: #131313;
}
.bg-color{
    font-weight: bold;
    color: #FF900E;
}

/* enjoy feature area style */
.enjoy-feature{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;
}
.features-container{
    max-width:500px;
}
#brand-side{
    border-left: 5px solid #FF900E;
    padding-left: 30px;
    margin-bottom: 18px;
    font-size: 2rem;
}

.features-card{
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
    border: none;
    border-radius: 8px;
    background-color: #ffff;
    padding: 15px;
    margin-bottom: 14px;
}
.features-heading{
    font-size: 1.4rem;
    color: #131313;
    font-weight: 600;
    padding-bottom: 15px;
}

.features-photo{
    max-width: 600px;
}
.features-photo > img{
    width: 100%;
}

.big-btn{
    background-color: #FF900E;
    height: 100px;
    width: 200px;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: -300px;
    margin-left: -90px;
}
#big-text{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}




/* fact section area style */

.some-facts-design{
    margin-top: 10px;
    margin-bottom: 40px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 50px;
}

.facts-text{
    max-width: 500px;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.fact-number{
    color: #424242;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 12px;
}
.fact-name{
    color: #727272;
    font-size: 1.2rem;
    font-weight: 600;
}


/* sponspor area style start here */
.sponser{
    margin-top: 60px;
    margin-bottom: 30px;
    padding-top: 60px;
}


.sponspor-text{
    max-width: 540px;
    margin: 40px auto;
    text-align: center;
}
.sponspor-container{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 20px;
}
.sponspor-container > img{
    filter: grayscale(100%);
}

/* footer area style */
.footer{
    max-width: 100%;
    margin-top: 80px;
    text-align: center;
    background-color: #FFF4E7;
    padding: 18px;
}
.footer > .font-style{
    color: #424242;
    font-size: 14px;
}




/* responsive area style  */

@media screen and (max-width:576px) {
    .navbar , 
    .nav-links ,
    .teams ,
    .enjoy-feature
    {
        flex-direction: column;
    }  
    
    .navbar ,
    .banner{
        width: 100%;
    }
    .team-pictures{
        grid-template-columns: repeat(1 , 1fr);
    }
    .features{
        max-width: 80%;
        margin-left: 0;
    }
    .facts-container{
        grid-template-columns: repeat(1 , 1fr);
        gap: 20px;
        justify-items: center;
    }
    .sponspor-container{
        justify-items: center;
        grid-template-columns: repeat(1 , 1fr);
        gap: 6  0px;
    }
    .big-btn{
        margin-top: 20px;
        margin-left: 0px;
    }


}


/* medium device responsive */

@media screen and (min-width:576px) and (max-width:992px) {
    .teams ,
    .enjoy-feature
    {
        flex-direction: column;
    }
    .features{
        margin: 30px auto;
    }
    .facts-container{
        grid-template-columns: repeat(2 , 1fr);
        gap: 20px;
        justify-items: center;
        
    }
    .sponspor-container{
        grid-template-columns: repeat(2 , 1fr);
        gap: 20px;
    }
    .big-btn{
        margin-top: 10px;
        margin-left: 0px;
    }


}